*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card{
  background-color: #d6d6d6;
  border: .2rem solid #1e135c;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addFood {
  max-width: 500px;
  margin: 40px auto; 
  padding: 0 20px;
}

#addFoodForm {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#addFoodForm label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: -6px; 
}


